
<div class="container">
    <div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h3> Invoice Controller</h3>
                <a href="#" class="thumbnail">
                    <img src="/app/invoice/img/invoice-logo.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" (click)="onGotoInvoice(100)">View Invoice End Points
                    </button>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Line Item Controller</h3>
                <a (click)="onGotoLineItem(3)" class="thumbnail">
                    <img src="/app/invoice/img/invoice-logo.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" >View End Points
                    </button>

                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Project Controller</h3>
                <a href="#" class="thumbnail">
                    <img src="/app/invoice/img/project-logo.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" (click)="createLineItem()">View Details
                    </button>

                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Schedule Controller</h3>
                <a (click)="onGotoSchedule(500)" class="thumbnail">
                    <img src="/app/invoice/img/payroll-logo.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" >View Details
                    </button>

                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Payroll Date Controller</h3>
                <a (click)="onGotoPayrollDate(500)" class="thumbnail">
                    <img src="/app/invoice/img/payroll-logo.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" >View Details
                    </button>

                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Work-Tracking Controller</h3>
                <a (click)="onGoToWorkTracking(3)" class="thumbnail">
                    <button type="button" class="btn btn-group-sm btn-primary" >View End Points
                    </button>

                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h3> Bank Account Controller Controller</h3>
                <a (click)="onGoToBankAccount(3)" class="thumbnail">
                    <img src="/app/bank-account/img/bank-icon.jpg" alt="...">
                    <button type="button" class="btn btn-group-sm btn-primary" >View End Points
                    </button>

                </a>
            </div>,
            <div class="col-xs-6 col-md-3">
                <h3> Profile</h3>
                <a (click)="onGoToProfile(3)" class="thumbnail">

                    <button type="button" class="btn btn-group-sm btn-primary" >View End Points
                    </button>

                </a>
            </div>
    </div>

</div>

