<div class="container">

    <!-- DISPLAY END POINTS -->

    <div class="well"><a type="button" data-toggle="collapse" data-target="#find-all" class="">Show All </a></div>

    <!-- DISPLAY ALL INVOICES -->

    <div class="collapse" id="find-all">
        <div *ngFor="let invoice of invoices" style="border:2px solid #004444" class="container invoice">
            <div class="col-md-3 col-sm-3">
                <h1>
                    <label>#Invoice :</label>
                    <span> {{invoice.number}}</span>
                </h1>
            </div>
            <div>
                <div class="row thumbnail">

                </div>
                <div>
                    <fieldset>
                        <label class="">Mbo Id:</label>
                        <span>{{invoice.mboId}}</span>
                    </fieldset>
                </div>
                <div>
                    <label class="">Attention To :</label>
                    <span *ngIf="invoice.company.attentionTo!=null">{{invoice.company.attentionTo}}</span>
                </div>
                <div>
                    <label class="">City: </label>
                    <span>{{invoice.company.address.city}}</span>
                </div>
                <div>
                    <label class="">Balance: </label>
                    <span>${{invoice.balance}}</span>
                </div>

                <div class="row ">
                    <section>
                    <div class="col-xs-6 col-md-6 thumbnail">
                        <h3> Line Items </h3>
                        <div *ngFor="let item of getAllListItems(invoice.lineItems)" style="border-top: 1px solid"
                             class="padding-top-10">
                            <div>
                                <label> Description:</label>
                                <span>{{item.description}}</span>
                            </div>
                            <div>
                                <label> Amount:</label>
                                <span>${{item.amount}}</span>
                            </div>
                            <div>
                                <label> Unit:</label>
                                <span>{{item.unit}}</span>
                            </div>
                            <div>
                                <label> Type:</label>
                                <span>{{item.type}}</span>
                            </div>
                        </div>
                    </div></section>
                    <div class="col-xs-6 col-md-6 thumbnail">
                        <h3> Payments</h3>
                        <div *ngFor="let payment of getAllListItems(invoice.payments)" style="border-top: 1px solid "
                             class="padding-top-10">
                            <div>
                                <label> Payment Date:</label>
                                <span>{{payment.date}}</span>
                            </div>
                            <div>
                                <label> Amount:</label>
                                <span>${{payment.amount}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 col-md-6 thumbnail">
                        <h3> Actions</h3>
                        <div *ngFor="let action of getAllListItems(invoice.actions)" style="border-top: 1px solid"
                             class="padding-top-10">
                            <div>
                                <label> Description:</label>
                                <span>{{action.description}}</span>
                            </div>
                            <div>
                                <label> Amount:</label>
                                <span>${{action.amount}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="well"><a type="button" data-toggle="collapse" data-target="#search" class="">Search For Invoice</a>
    </div>


    <div class="collapse" id="search">

        <!-- DISPLAY SEARCH FORM-->

        <div>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input #searchBox type="text" class="  search-query form-control" placeholder="Search"
                           (keyup)="search(searchBox.value)"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                </div>
            </div>
        </div>

        <!-- DISPLAY SEARCH RESULT -->

        <div class="container padding-top-10">
            <div *ngFor="let res of searchResults" style="border:2px solid #004444" class="container invoice">
                <div class="col-md-3 col-sm-3">
                    <h1>
                        <label>#Invoice :</label>
                        <span> {{res.number}}</span>
                    </h1>
                </div>
                <div>
                    <div class="row thumbnail">
                    </div>
                    <div>
                        <fieldset>
                            <label class="">Mbo Id:</label>
                            <span>{{res.mboId}}</span>
                        </fieldset>
                    </div>
                    <div>
                        <label class="">Attention To :</label>
                        <span *ngIf="res.company.attentionTo!=null">{{res.company.attentionTo}}</span>
                    </div>
                    <div>
                        <label class="">City: </label>
                        <span>{{res.company.address.city}}</span>
                    </div>
                    <div>
                        <label class="">Balance: </label>
                        <span>${{res.balance}}</span>
                    </div>
                    <div class="row ">
                        <div class="col-xs-6 col-md-6 thumbnail">
                            <h3> Line Items </h3>
                            <div *ngFor="let item of getAllListItems(res.lineItems)" style="border-top: 1px solid"
                                 class="padding-top-10">
                                <div>
                                    <label> Description:</label>
                                    <span>{{item.description}}</span>
                                </div>
                                <div>
                                    <label> Amount:</label>
                                    <span>${{item.amount}}</span>
                                </div>
                                <div>
                                    <label> Unit:</label>
                                    <span>{{item.unit}}</span>
                                </div>
                                <div>
                                    <label> Type:</label>
                                    <span>{{item.type}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-6 thumbnail">
                            <h3> Payments</h3>
                            <div *ngFor="let payment of getAllListItems(res.payments)" style="border-top: 1px solid "
                                 class="padding-top-10">
                                <div>
                                    <label> Payment Date:</label>
                                    <span>{{payment.date}}</span>
                                </div>
                                <div>
                                    <label> Amount:</label>
                                    <span>${{payment.amount}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-6 col-md-6 thumbnail">
                            <h3> Actions</h3>
                            <div *ngFor="let action of getAllListItems(res.actions)" style="border-top: 1px solid"
                                 class="padding-top-10">
                                <div>
                                    <label> Description:</label>
                                    <span>{{action.description}}</span>
                                </div>
                                <div>
                                    <label> Amount:</label>
                                    <span>${{action.amount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
