.padding-top-10{
    padding-top: 10px;
}
.form-panel-header {
}

.line-item-list-table {
    list-style: none;
    color:#985f0d;
    font-family: "Al Bayan";
    font-size:large;
}
.table-header {
    font-family: "Roboto Condensed";
    color:White;
    background-color:#004444;
    font-variant: small-caps;
}

.invoice{
    color: #006600;
    font-family: "Roboto Condensed";
    font-size: large;
}
.padding-top-10{
    padding-top: 10px;
}



#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}