<div class="container table-responsiv">
    <p class="center">Bank Account Details</p>
    <table class="table table-striped table-hover table-condensed table-bordered table-responsive">
        <thead>
        <tr class="table-header">
            <th> Nick Name</th>
            <th> Name On Account</th>
            <th> Mbo Id</th>
            <th> Routing Number</th>
            <th> Bank Name</th>
            <th> Account Number</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bank-account-table" *ngFor="let bankAccount of bankAccounts">
            <td>
                {{bankAccount.nickName}}
            </td>
            <td>
                {{bankAccount.nameOnAccount}}
            </td>
            <td>
                {{bankAccount.mboId}}
            </td>
            <td>
                {{bankAccount.routingNumber}}
            </td>
            <td>
                {{bankAccount.bankName}}
            </td>
            <td>
                {{bankAccount.accountNumber}}
            </td>
        </tr>
        </tbody>
    </table>
</div>