<div class="container">

    <div class="well title-header">
        <p>Bank Account Controller</p>
    </div>
    <nav>
        <ul>
            <li class="padding-top-10"><a type="button" > <span
                    class=" glyphicon glyphicon-play" data-toggle="collapse" data-target="#find-all"></span> Show All </a></li>
            <li class="padding-top-10"><a type="button" data-toggle="modal" data-target="#create"> <span
                    class=" glyphicon glyphicon-plus"></span> Create / Update</a></li>
            <li class="padding-top-10"><a type="button" data-toggle="collapse" data-target="#delete"><span
                    class=" glyphicon glyphicon-remove"></span> Delete</a></li>
            <li class="padding-top-10"><a type="button" data-toggle="collapse" data-target="#find-one"> <span
                    class="glyphicon glyphicon-search"></span> Find By Id</a>
            <li class="padding-top-10"><a type="button" data-toggle="collapse" data-target="#search"> <span
                    class="glyphicon glyphicon-search"></span> Search</a>
            </li>
        </ul>
    </nav>
    <section>
        <div class="collapse" id="find-all">
            <div class="row">
                <div *ngFor="let acc of bankAccounts">

                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="thumbnail"
                             style="border-left: 5px solid #42A948; background-color: #F0F0F0; padding-left: 10px">
                            <span> Id: {{acc.id}}</span><br>
                            <span> Name On Account : {{acc.nameOnAccount}}</span><br>
                            <span> Routing Number :  {{acc.routingNumber}}</span><br>
                            <span style="color: red;"> Account Number: {{acc.accountNumber}}</span><br>
                            <span> Nick Name : {{acc.nickName}}</span><br>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


</div>

