<div class="container pull-left" style="margin-top: 25px">
        <div class="panel-primary">
                <div class="panel-heading">Services </div>
            <div class="panel-body">
                <ul >
                    <a (click)="onCreate(1)"> Line Item </a>
                </ul>
                <ul> <a (click)="onFindAllInvoice(4)"> Invoice</a></ul>
                <ul> <a (click)="onFindAllProject(5)" > Project</a></ul>
            </div>
            <div class="panel-body">
            </div>
        </div>
</div>